




* { 
  margin: 0; 
}
body {
  border: 0;
  
  }
  


    /* grossura da linha */
  .timeline ul li::before {
    background-image: url("./img/bf-image.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
  
  
/* tamanho dos blocos  */
  .timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

/* tamanhode dentro dos blocos */
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

/* titulo dos blocos EX:6s, 9s */
.timelineContent span {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  color: rgb(201, 201, 201);    
}

/* titulo dos blocos  */
.timelineContent h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  
  margin-bottom: 10px;
    
}

/* conteúdo dos blocos  */
.timelineContent p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

/* tamanho da data */
.timelineContent .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: green;
  }
  
  /* altura da caixa */
  .timeline ul li {
    margin-top: -370px;
  }

  /* largura da caixa */
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
 
 /* distancia do bloco pra linha  */
 
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-73px);
    border-radius: 20px 20px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(-100px);
    border-radius: 0px 20px 20px 20px;
  }
  
  
  
  /* tamanho, altura e cor da bola */
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(46, 45, 45);
    top: 0px;
    
  }
  
  /* distancia da bola pro bloco */
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -13px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  
  /* altura da data  */
  .timelineContent .date {
    position: absolute;
    top: -15px;
  }
  
  /* cor da bola  */
  .timeline ul li:hover::before {
  background-color: rgb(35, 211, 167);
  }
}

/* força do shade do background*/
.shade {
  width: 100%;
  height: 100%;
  background: rgba(1, 3, 119, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}