
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');

body {
  font-family: 'Moulpali', cursive;
}


* { 
  margin: 0; 
}
body {
  border: 0;
  
  }
  
  

  
  
  

  .bgImage {
    background-image: url("./img/background-image-1.png");
    
    background-color: #cccccc;
    height: 50vh;
    z-index: auto;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

   

    /* foto da logo */
  .timeline ul li::before {
    background-image: url("./img/FBTF-LOGO.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
      
  }
   
  .hiddenText{
    overflow: hidden;
  }
  
  /* grossura da linha */
  .containerLine {
    
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 100%;
      background-color: rgb(83, 83, 83);
  }




/* tamanho dos blocos  */
  .timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

/* tamanho dos blocos  */
.timeline ul li {
  padding: 14px 10px 20px 20px;
  background-color: #1b1915;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 102px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  
}



.timeline ul li:hover {
  height: 240px;
 
}
.timeline ul li:hover .hiddenInside{
  position: absolute;
  top: 170px;
  
}

/* posição da colocação "ACESSO"*/
.centralInsideBlock{
  position: absolute;
  left: 15px;
 
}
/* posição da colocação "ACESSO"*/
.openInsideBlock{
  position: absolute;
  left: 190px;
}
/* posição do nome do time*/
.abertaPos{
  position: absolute;
  top: 4px;
  right: -91px;
}
/* posição do nome do time*/
.centralPos{
  position: absolute;
  top: 4px;
  right: -124px;
  font-size: 15px;
}

/* posição da colocação "ACESSO" depois de descer */
.timeline ul li:hover .centralInsideBlock{
  position: absolute;
  width: 108.5px;
  left: -7px;
 margin-top: -5px;
}
/* posição do nome do time depois de descer */
.timeline ul li:hover .centralPos{
  position: absolute;
  width: 108.5px;
  left: 92px;
  
}
/* central medal after hover */
.timeline ul li:hover .medal3{
  position: absolute;
  top: 160px;
  bottom: 0px;
  right: 0px;
  left: 69px;

}
/* invite medalha invisivel para o slide SECOND */
.inviteAppear {
  display: none;
  position: absolute;
  top: 100px;
  right: 0px;
  left: 25px;
  background-repeat: no-repeat;
}


/* invite medalha visivel SECOND*/
.timeline ul li:hover .inviteAppear{
  display:block;
  position: absolute;
  top: 88px;
  right: 0px;
  left: 68px;
  font-size: 15px;
}
/* texto do invite invisivel  SECOND*/
.secondText{
  color: transparent;
}
/* texto do invite invisivel  SECOND*/
.timeline ul li:hover .secondText{
  color: white;
  position: absolute;
  left: 107px;
  top: 94px;
  font-weight: 300;
  font-size: 15px;
}





/* invite medalha invisivel para o slide THIRD */
.inviteAppear3 {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background-repeat: no-repeat;
}


/* invite medalha visivel  THIRD*/
.timeline ul li:hover .inviteAppear3{
  display:block;
  position: absolute;
  top: 120px;
  right: 0px;
  left: 68px;
  font-size: 0px;
}

/* texto do invite invisivel  THIRD */
.thirdText{
  color: transparent;
}
/* texto do invite invisivel  THIRD */
.timeline ul li:hover .thirdText{
  color: white;
  position: absolute;
  left: 107px;
  top: 126px;
  font-weight: 300;
  font-size: 15px;
}
/* open indo pra baixo no bloco */
.timeline ul li:hover .openInsideBlock{
  position: absolute;
  left: 190px;
  top: 165px;
}
/* open indo pra baixo no bloco medalha */
.timeline ul li:hover .medal4{
  position: absolute;
  left: 290px;
  top: 160px;
}
/* acesso medalha pos abertura */
.acessoSecond{
  display: none;
  position: absolute;
  top: 88px;
  left: 290px;
}
/* acesso medalha pos abertura */
.timeline ul li:hover .acessoSecond{
  display: block;
}
/* texto pos abertura */
.secondAcessText{
  display: none;
}
/* texto pos abertura */
.timeline ul li:hover .secondAcessText{
display: block;
  position:absolute; 
left: 328px;
  top: 94px;
  font-size: 15px;  
}
/* texto pos abertura */
.thirdAcessText{
  display: none;
}
/* texto pos abertura */
.timeline ul li:hover .thirdAcessText{
  display: block;
    position:absolute; 
  left: 328px;
    top: 126px;
    font-size: 15px;  
  }
/* acesso medalha pos abertura */
  .acessoThird{
    display: none;
    position: absolute;
    top: 120px;
    left: 290px;
  }
  /* acesso medalha pos abertura */
  .timeline ul li:hover .acessoThird{
    display: block;
  }

  /* texto pos abertura */
.secondCentralText{
  display: none;
}

.timeline ul li:hover .secondCentralText{
  display: block;
    position:absolute; 
    left: 106px;
    top: 199px;
    font-size: 15px;  
  }

  /* acesso medalha pos abertura */
  .centralSecond{
    display: none;
    position: absolute;
    top: 193px;
    left: 69px;
    bottom: 0px;
    right: 0px;
  }

  .timeline ul li:hover .centralSecond{
    display: block;
  }





/*-------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/


  /* texto pos abertura */
  .thirdCentralText{
    display: none;
  }
  
  .timeline ul li:hover .thirdCentralText{
    display: block;
      position:absolute; 
      left: 106px;
      top: 231px;
      font-size: 15px;  
    }
  
    /* acesso medalha pos abertura */
    .centralThird{
      display: none;
      position: absolute;
      top: 225px;
      left: 69px;
      bottom: 0px;
      right: 0px;
    }
  
    .timeline ul li:hover .centralThird{
      display: block;
    }



/*-------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/





/* texto pos abertura */
.secondOpenText{
  display: none;
}

.timeline ul li:hover .secondOpenText{
  display: block;
    position:absolute; 
    left: 329px;
    top: 199px;
    font-size: 15px;  
  }

  /* acesso medalha pos abertura */
  .openSecond{
    display: none;
    position: absolute;
    top: 193px;
    left: 290px;
    bottom: 0px;
    right: 0px;
  }

  .timeline ul li:hover .openSecond{
    display: block;
  }





/* texto pos abertura */
.thirdOpenText{
  display: none;
}

.timeline ul li:hover .thirdOpenText{
  display: block;
    position:absolute; 
    left: 329px;
    top: 231px;
    font-size: 15px;  
  }

  /* acesso medalha pos abertura */
  .openThird{
    display: none;
    position: absolute;
    top: 225px;
    left: 290px;
    bottom: 0px;
    right: 0px;
  }

  .timeline ul li:hover .openThird{
    display: block;
  }


















.medal {
  background-image: url("./img/medal-first-40px.png");
  top: 55px;
  bottom: 0px;
  right: 0px;
  left: 69px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
  
}


.medal2{
  background-image: url("./img/medal-first-40px.png");
  top: 55px;
  bottom: 0px;
  right: 0px;
  left: 290px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}

.medal3{
  background-image: url("./img/medal-first-40px.png");
  top: 93px;
  bottom: 0px;
  right: 0px;
  left: 69px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}

.medal4{
  background-image: url("./img/medal-first-40px.png");
  top: 92px;
  bottom: 0px;
  right: 0px;
  left: 290px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}




.timeline ul li:last-child {
  margin-bottom: 0;
}

/* titulo dos blocos EX:6s, 9s */
.timelineContent span {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  
  color: rgb(201, 201, 201);
}

/* titulo dos blocos  */
.timelineContent h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  
  margin-bottom: 10px;
    
}

/* conteúdo dos blocos  */
.timelineContent p {
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
}



/* tamanho da data */
.date {
  color: white;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}






/*-----------------------------------------------------------------------------------------------------------------





















  
-----------------------------------*/

    /* grossura da linha */
    .timeline ul li::before {
      background-image: url("./img/FBTF-LOGO.png");
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      }
  
  


@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: green;
  }
  
  /* altura da caixa */
  .timeline ul li {
    margin-top: 18px;
  }

  /* largura da caixa */
  .timeline ul li {
    width: 52%;
    position: relative;
    margin-bottom: 50px;
  }
 
 /* distancia do bloco pra linha  */
 
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(375px);
    border-radius: 20px 20px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(-50px);
    border-radius: 0px 20px 20px 20px;
  }
  
  
  
  /* tamanho, altura e cor da bola */
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #181713;
    top: 0px;
    
  }
  
  /* distancia da bola pro bloco */
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: 440px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  
  /* altura da data  */
  .timelineContent .date {
    position: absolute;
    top: -18px;
    left: 25px;
  }
  
  /* cor da bola  */
  .timeline ul li:hover::before {
  background-color: rgb(35, 211, 167);
  }
}

/* força do shade do background*/
.shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 2, 80, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.containerLine {
    
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background-color: rgb(83, 83, 83);
}


/* texto slide*/
.timeline ul li:hover .secondText{
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
/* medalha slide*/
.timeline ul li:hover .inviteAppear{
  animation-duration: 0.6s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}






/* texto slide*/
.timeline ul li:hover .thirdText{
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .inviteAppear3{
  animation-duration: 0.6s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: -15%;
    width: 100%;
    display: hidden;
  }

  to {
    
    margin-left: 0%;
    width: 100%;
  }
}



/* texto slide*/
.timeline ul li:hover .thirdAcessText{
  animation-duration: 0.5s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .acessoThird{
  animation-duration: 0.6s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-left: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .secondAcessText{
  animation-duration: 0.5s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .acessoSecond{
  animation-duration: 0.6s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-top: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .thirdCentralText{
  animation-duration: 0.5s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .centralThird{
  animation-duration: 0.6s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}



/* texto slide*/
.timeline ul li:hover .secondCentralText{
  animation-duration: 0.5s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .centralSecond{
  animation-duration: 0.6s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-left: -15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .secondOpenText{
  animation-duration: 0.5s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .openSecond{
  animation-duration: 0.6s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-left: -15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .thirdOpenText{
  animation-duration: 0.5s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .openThird{
  animation-duration: 0.6s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}