


* { 
  margin: 0; 
}
body {
  border: 0;
  
  }
  
  
  .title-site{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 50px;
    word-spacing: -10px;
  }

  
  
  


  

    /* foto da logo */
  .timeline ul li::before {
    background-image: url("./img/FBTF-LOGO.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
      
  }
  
  




/* tamanho dos blocos  */
  .timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

/* tamanho dos blocos  */
.timeline ul li {
  padding: 14px 10px 20px 20px;
  background-color: #181713;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 102px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  
}
.hidden-text {
  overflow: hidden;
  }

.timeline ul li:hover {
  height: 240px;
 
}
.timeline ul li:hover .hidden-inside{
  position: absolute;
  top: 170px;
  
}

/* posição da colocação "ACESSO"*/
.central-inside-block{
  position: absolute;
  left: 15px;
 
}
/* posição da colocação "ACESSO"*/
.open-inside-block{
  position: absolute;
  left: 190px;
}
/* posição do nome do time*/
.aberta-pos{
  position: absolute;
  top: 4px;
  right: -91px;
}
/* posição do nome do time*/
.central-pos{
  position: absolute;
  top: 4px;
  right: -124px;
  font-size: 15px;
}

/* posição da colocação "ACESSO" depois de descer */
.timeline ul li:hover .central-inside-block{
  position: absolute;
  width: 108.5px;
  left: -7px;
 margin-top: -5px;
}
/* posição do nome do time depois de descer */
.timeline ul li:hover .central-pos{
  position: absolute;
  width: 108.5px;
  left: 92px;
  
}
/* central medal after hover */
.timeline ul li:hover .medal3{
  position: absolute;
  top: 160px;
  bottom: 0px;
  right: 0px;
  left: 69px;

}
/* invite medalha invisivel para o slide SECOND */
.invite-appear {
  display: none;
  position: absolute;
  top: 100px;
  right: 0px;
  left: 25px;
  background-repeat: no-repeat;
}


/* invite medalha visivel SECOND*/
.timeline ul li:hover .invite-appear{
  display:block;
  position: absolute;
  top: 88px;
  right: 0px;
  left: 68px;
  font-size: 15px;
}
/* texto do invite invisivel  SECOND*/
.second-text{
  color: transparent;
}
/* texto do invite invisivel  SECOND*/
.timeline ul li:hover .second-text{
  color: white;
  position: absolute;
  left: 107px;
  top: 94px;
  font-weight: 300;
  font-size: 15px;
}





/* invite medalha invisivel para o slide THIRD */
.invite-appear3 {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background-repeat: no-repeat;
}


/* invite medalha visivel  THIRD*/
.timeline ul li:hover .invite-appear3{
  display:block;
  position: absolute;
  top: 120px;
  right: 0px;
  left: 68px;
  font-size: 0px;
}

/* texto do invite invisivel  THIRD */
.third-text{
  color: transparent;
}
/* texto do invite invisivel  THIRD */
.timeline ul li:hover .third-text{
  color: white;
  position: absolute;
  left: 107px;
  top: 126px;
  font-weight: 300;
  font-size: 15px;
}
/* open indo pra baixo no bloco */
.timeline ul li:hover .open-inside-block{
  position: absolute;
  left: 190px;
  top: 165px;
}
/* open indo pra baixo no bloco medalha */
.timeline ul li:hover .medal4{
  position: absolute;
  left: 290px;
  top: 160px;
}
/* acesso medalha pos abertura */
.acesso-second{
  display: none;
  position: absolute;
  top: 88px;
  left: 290px;
}
/* acesso medalha pos abertura */
.timeline ul li:hover .acesso-second{
  display: block;
}
/* texto pos abertura */
.second-acess-text{
  display: none;
}
/* texto pos abertura */
.timeline ul li:hover .second-acess-text{
display: block;
  position:absolute; 
left: 328px;
  top: 94px;
  font-size: 15px;  
}
/* texto pos abertura */
.third-acess-text{
  display: none;
}
/* texto pos abertura */
.timeline ul li:hover .third-acess-text{
  display: block;
    position:absolute; 
  left: 328px;
    top: 126px;
    font-size: 15px;  
  }
/* acesso medalha pos abertura */
  .acesso-third{
    display: none;
    position: absolute;
    top: 120px;
    left: 290px;
  }
  /* acesso medalha pos abertura */
  .timeline ul li:hover .acesso-third{
    display: block;
  }

  /* texto pos abertura */
.second-central-text{
  display: none;
}

.timeline ul li:hover .second-central-text{
  display: block;
    position:absolute; 
    left: 106px;
    top: 199px;
    font-size: 15px;  
  }

  /* acesso medalha pos abertura */
  .central-second{
    display: none;
    position: absolute;
    top: 193px;
    left: 69px;
    bottom: 0px;
    right: 0px;
  }

  .timeline ul li:hover .central-second{
    display: block;
  }





/*-------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/


  /* texto pos abertura */
  .third-central-text{
    display: none;
  }
  
  .timeline ul li:hover .third-central-text{
    display: block;
      position:absolute; 
      left: 106px;
      top: 231px;
      font-size: 15px;  
    }
  
    /* acesso medalha pos abertura */
    .central-third{
      display: none;
      position: absolute;
      top: 225px;
      left: 69px;
      bottom: 0px;
      right: 0px;
    }
  
    .timeline ul li:hover .central-third{
      display: block;
    }



/*-------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/





/* texto pos abertura */
.second-open-text{
  display: none;
}

.timeline ul li:hover .second-open-text{
  display: block;
    position:absolute; 
    left: 329px;
    top: 199px;
    font-size: 15px;  
  }

  /* acesso medalha pos abertura */
  .open-second{
    display: none;
    position: absolute;
    top: 193px;
    left: 290px;
    bottom: 0px;
    right: 0px;
  }

  .timeline ul li:hover .open-second{
    display: block;
  }





/* texto pos abertura */
.third-open-text{
  display: none;
}

.timeline ul li:hover .third-open-text{
  display: block;
    position:absolute; 
    left: 329px;
    top: 231px;
    font-size: 15px;  
  }

  /* acesso medalha pos abertura */
  .open-third{
    display: none;
    position: absolute;
    top: 225px;
    left: 290px;
    bottom: 0px;
    right: 0px;
  }

  .timeline ul li:hover .open-third{
    display: block;
  }


















.medal {
  background-image: url("./img/medal-first-40px.png");
  top: 55px;
  bottom: 0px;
  right: 0px;
  left: 69px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
  
}


.medal2{
  background-image: url("./img/medal-first-40px.png");
  top: 55px;
  bottom: 0px;
  right: 0px;
  left: 290px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}

.medal3{
  background-image: url("./img/medal-first-40px.png");
  top: 93px;
  bottom: 0px;
  right: 0px;
  left: 69px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}

.medal4{
  background-image: url("./img/medal-first-40px.png");
  top: 92px;
  bottom: 0px;
  right: 0px;
  left: 290px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}




.timeline ul li:last-child {
  margin-bottom: 0;
}

/* titulo dos blocos EX:6s, 9s */
.timeline-content span {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  
  color: rgb(201, 201, 201);
}

/* titulo dos blocos  */
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  
  margin-bottom: 10px;
    
}

/* conteúdo dos blocos  */
.timeline-content p {
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
}



/* tamanho da data */
.date {
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
}

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
  }
  
  /* altura da caixa */
  .timeline ul li {
    margin-top: 81.5px;
  }

  /* largura da caixa */
  .timeline ul li {
    width: 52.5%;
    position: relative;
    margin-bottom: 50px;
  }
 
 /* distancia do bloco pra linha  */
 
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-84px);
    border-radius: 20px 20px 20px 20px;
  }
  
  
  
  
  /* tamanho, altura e cor da bola */
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #181713;
    top: 0px;
    
  }
  
  /* distancia da bola pro bloco */
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -15px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -15px;
  }
  
  /* altura da data  */
  .date {
    position: absolute;
    top: 63px;
    left: -17px;
  }
  
  /* cor da bola  */
  .timeline ul li:hover::before {
  background-color: rgb(35, 211, 167);
  }


/* grossura da linha */

  .container-line {
        
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 74.6%;
      background-color: rgb(83, 83, 83);
    }

@media only screen and (max-height: 850px){
  /* grossura da linha */
    .container-line {
 
      height: 66%;
    
    }
  }

/* força do shade do background*/
.shade {
  width: 100%;
  height: 100%;
  background: rgba(0, 2, 80, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}




/* texto slide*/
.timeline ul li:hover .second-text{
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
/* medalha slide*/
.timeline ul li:hover .invite-appear{
  animation-duration: 0.6s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}






/* texto slide*/
.timeline ul li:hover .third-text{
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .invite-appear3{
  animation-duration: 0.6s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: -15%;
    width: 100%;
    display: hidden;
  }

  to {
    
    margin-left: 0%;
    width: 100%;
  }
}



/* texto slide*/
.timeline ul li:hover .third-acess-text{
  animation-duration: 0.5s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .acesso-third{
  animation-duration: 0.6s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-left: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .second-acess-text{
  animation-duration: 0.5s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .acesso-second{
  animation-duration: 0.6s;
  animation-name: slidein-acess;
  animation-iteration-count: 1;
}

@keyframes slidein-acess {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-top: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .third-central-text{
  animation-duration: 0.5s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .central-third{
  animation-duration: 0.6s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}



/* texto slide*/
.timeline ul li:hover .second-central-text{
  animation-duration: 0.5s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .central-second{
  animation-duration: 0.6s;
  animation-name: slidein-central;
  animation-iteration-count: 1;
}

@keyframes slidein-central {
  from {
    margin-left: -15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .second-open-text{
  animation-duration: 0.5s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .open-second{
  animation-duration: 0.6s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-left: -15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}




/* texto slide*/
.timeline ul li:hover .third-open-text{
  animation-duration: 0.5s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 300%;
  }
}
/* medalha   slide*/
.timeline ul li:hover .open-third{
  animation-duration: 0.6s;
  animation-name: slidein-open;
  animation-iteration-count: 1;
}

@keyframes slidein-open {
  from {
    margin-left: 15%;
    width: 100%;
    z-index: -1;
  }

  to {
    
    margin-right: 0%;
    width: 100%;
  }
}